@font-face {
    font-family: 'Avenir';
    src: url('../src/assests/Fonts/Avenire/AvenirNextLTPro-Regular.woff');
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../src/assests/Fonts/Avenire/AvenirNextLTPro-Bold.woff');
}